@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins";
    /*border: red 1px solid;*/

}

.img-background{
    background-image: url("/src/assets/background2.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.highlight-text{
    /*background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43);*/
    /*margin: -2px -6px;*/
    /*padding:  2px  6px;*/

    background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=47a603);
    margin: -2px -6px;
    padding: 2px 6px;
}

.highlight-tulisan{
    background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=47a603);
    margin: -2px -6px;
    padding: 2px 6px;
}

.default-button-styles{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
 }

.box{
    @apply w-[298px] h-[307px]
}

.kotaksatu {
    @apply w-[100%]
}
.uniform-size {
    width: 450px; /* Set your desired width */
    height: 450px; /* Set your desired height */
}


.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

/* src/index.css */
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal-box {
  width: 70vw;
  max-width: 70vw;
}

.card-container {
  transition: transform 0.3s ease;
}

.card-container:hover {
  transform: scale(1.05);
}

.active-link {
  @apply underline underline-offset-8 decoration-green-500;

}


#scroll-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#scroll-container > * {
  flex-shrink: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scrollbar-x {
  overflow-x: hidden;
}

.slick-dots li button:before {
  color: #FF9100 !important; /* Warna dots */
}

.slick-dots {
  bottom: -30px; /* Sesuaikan jarak dots dari gambar */
}
@media (max-width: 640px) {
  .timeline li::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #e5e7eb; /* Warna garis */
    transform: translateX(-50%);
  }
}